p {
  height: 20px;
  margin-top: -5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

td.top {
  border-top: 0;
}

td.bottom {
  border-bottom: 0;
}

td.right {
  border-right: 0;
}

td.left {
  border-left: 0;
}

#refresh {
  margin-top: 25px;
  padding: 5px;
}
